# IntelliJ project files
.idea
*.iml
out

# Gradle files
.gradle

# Minecraft files
run

# Project Build files
build

# Compiled jars
*.jar
!gradle/wrapper/gradle-wrapper.jar

# System files
*.DS_Store